<a href="https://colab.research.google.com/github/Maclavia/AD2023/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Country':['Costa Rica', 'India','Brazil'],
'Capital': ['San José','New Delhi','Brasilia'],
'Population':[4500000, 1303171035, 207847528]}
df=pd.DataFrame(data,columns=['Country','Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de Temperaturas")
N=int(input())
for i in range(N):
  temperatura=float(input("Ingrese la temperatura"))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media=Suma/N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de Temperaturas
2
Ingrese la temperatura22
Ingrese la temperatura45
33.5

In [ ]:
from sqlalchemy.sql.expression import false
import pandas as pd
mascota = pd.DataFrame(
  data = {
    'name':['Minino', 'Milo','Snoppy', 'Blanco', 'LittlePony'],
    'type':['gato', 'perro', 'perro', 'perro', 'caballo']
  },
  index=[71, 42, 11, 98, 42]
)

visitas= pd.DataFrame(
    data = {
        'pet_id':[42, 31, 71, 42, 98, 42],
        'fecha':['2019-03-15', '2019-03-15', '2019-04-05', '2019-04-06', '2019-04-12', '2019-06-17'],
        'costo':[2000,5000,3500,8000,2500,3400]
  }
)

mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)

print(mascota.query('pet_id==71'))
print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)
print(visitas.sort_values(by='costo', ascending=False))

tienda=pd.merge(mascota,visitas,how='cross')
print(tienda)

          name  type
pet_id
71      Minino  gato
24400
2000
8000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   3500
3             42  2019-04-06   8000
4             98  2019-04-12   2500
5             42  2019-06-17   3400
          pet_id       fecha  costo
visit_id
3             42  2019-04-06   8000
1             31  2019-03-15   5000
2             71  2019-04-05   3500
5             42  2019-06-17   3400
4             98  2019-04-12   2500
0             42  2019-03-15   2000
          name     type  pet_id       fecha  costo
0       Minino     gato      42  2019-03-15   2000
1       Minino     gato      31  2019-03-15   5000
2       Minino     gato      71  2019-04-05   3500
3       Minino     gato      42  2019-04-06   8000
4       Minino     gato      98  2019-04-12   2500
5       Minino     gato      42  2019-06-17   3400
6         Milo    perro      42  2019-03-15   2000
7         Milo    perro      31  2019-03-15   5000
8         Milo    perro      71  2019-04-05   3500
9         Milo    perro      42  2019-04-06   8000
10        Milo    perro      98  2019-04-12   2500
11        Milo    perro      42  2019-06-17   3400
12      Snoppy    perro      42  2019-03-15   2000
13      Snoppy    perro      31  2019-03-15   5000
14      Snoppy    perro      71  2019-04-05   3500
15      Snoppy    perro      42  2019-04-06   8000
16      Snoppy    perro      98  2019-04-12   2500
17      Snoppy    perro      42  2019-06-17   3400
18      Blanco    perro      42  2019-03-15   2000
19      Blanco    perro      31  2019-03-15   5000
20      Blanco    perro      71  2019-04-05   3500
21      Blanco    perro      42  2019-04-06   8000
22      Blanco    perro      98  2019-04-12   2500
23      Blanco    perro      42  2019-06-17   3400
24  LittlePony  caballo      42  2019-03-15   2000
25  LittlePony  caballo      31  2019-03-15   5000
26  LittlePony  caballo      71  2019-04-05   3500
27  LittlePony  caballo      42  2019-04-06   8000
28  LittlePony  caballo      98  2019-04-12   2500
29  LittlePony  caballo      42  2019-06-17   3400

In [ ]:
import pandas as pd

students = [('Ana', 23, 'San Jose', 'A'),
          ('Esteban', 22, 'Heredia', 'B'),
          ('Juan', 22, 'Cartago', 'A'),
          ('Karla', 22,'Limón','A'),
          ('Ernesto', 21, 'Heredia','B')
          ]
df=pd.DataFrame(students,columns=['nombre','edad', 'ciudad', 'seccion'])

def getIndexes (dfObj, value) :
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list (seriesObj [seriesObj == True] .index)
  
  for col in columnNames:
    rows = list (result [col] [result [col] == True] .index)
    
    for row in rows:
      listOfPos.append((row, col))
    
  return listOfPos

listOfPositions = getIndexes(df, 'A')

print('Index positions of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
  print( listOfPositions[i])

Index positions of 22 in Dataframe :
(0, 'seccion')
(2, 'seccion')
(3, 'seccion')